@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {

  html,
  body {
    @apply w-full overflow-x-hidden m-0 p-0 overscroll-x-none;
  }

  body {
    @apply antialiased bg-white text-slate-800;
  }
}