@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply antialiased bg-gradient-to-br from-[#3581bb] to-[#46a7ca] min-h-screen text-white;
  }
}